@width: 1024px;

.header {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;

  .headerRow {
    width: @width;
    height: 70px;
    margin: auto;
  }
}


.main {
  width: 100%;
  padding-top: 40px;

  .mainCenter {
    min-height: 450px;
    width: 550px;
    margin: auto;
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: 1px solid #f0f0f0;
}


